/* Common styles for both desktop and mobile */
body {
    text-align: center;
    background: darkblue;
}

/* Styles for the canvas */
#my-canvas {
    background: #fff;
    margin: 10px auto; /* Center the canvas horizontally and add margin */
    max-width: 100%; /* Make sure the canvas doesn't exceed the screen width */
    width: 450px; /* Default width for larger screens */
}

/* Styles for the controls */
#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Let the content determine the height */
    margin-top: 10px; /* Add margin at the top */
}

#joystick-svg {
    width: 100%; /* Default width for larger screens */
    height: auto; /* Let the height adjust proportionally */
}
/* Media query for screens smaller than 768px (typical for mobile devices) */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    #my-canvas {
        width: 100%; /* Make the canvas take the full screen width */
        margin: 10px 0; /* Remove left and right margin, keep top and bottom margin */
    }
    
    #controls {
        margin-top: 60px; /* Reduce the top margin for smaller screens */
    }

    #joystick-svg {
        width: 80%; /* Make the joystick 50% of the screen width on mobile devices */
    }
}

