/* Common styles for both desktop and mobile */
body {
    text-align: center;
    background: darkblue;
}

#container {
    display: none;
}

#start-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically and horizontally */
}

.instruction {
    background-color: #f2f2f2;
    border: 5px solid black;
    border-radius: 5px;
    width: 200px;
    padding: 10px 20px;
    text-align: center;
}

.circle {
    width: 24px;
    height: 24px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

p, span {
    color: white;
    text-shadow: black 2px;
}

#start-button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #FF5733;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.made-by {
    margin-top: 20px;
}

/* Styles for the canvas */
#my-canvas {
    background: #fff;
    margin: 10px auto;
    max-width: 100%;
    width: 450px;
}

/* Styles for the controls */
#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 10px;
}

#joystick-svg {
    width: 100%;
    height: auto;
}

/* Media query for screens smaller than 768px (typical for mobile devices) */
@media (max-width: 768px) {
    #my-canvas {
        width: 100%;
        margin: 10px 0;
    }

    #controls {
        margin-top: 60px;
    }

    #joystick-svg {
        width: 80%;
    }

    .instruction {
        width: 180px;
    }
}
